.project-container {
  position: relative;
  margin: auto;
  height: 300px;
  border-radius: 10px;
  overflow: hidden;
}

.project-container:hover .P-details {
  opacity: 1;
}

.P-details {
  position: absolute;
  width: 100%;
  height: 37%;
  background-color: rgba(0, 0, 0, 0.5);
  top: 30%;
  color: white;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.P-details ol {
  list-style-type: disc;
}

.P-details li {
  margin-bottom: 5px;
}

@media (max-width: 768px) {
  .P-details {
    top: 0%;
    height: 70%;
  }
}
