section {
  height: 100vh;
  width: 100%;
}

.image {
  object-fit: cover;
}

.rounded-hr {
  border-top: 4px solid white !important;
  border-radius: 5px;
  margin: 10px 0;
  opacity: 1;
}

/* md:mt-[0%] mt-[10%] */
@keyframes slide-in-left {
  0% {
    transform: translateX(-100%);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}

.text-box {
  -webkit-animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
  animation: slide-in-left 1s cubic-bezier(0.25, 0.46, 0.45, 0.94) both;
}

@media (min-width: 768px) {
  .text-box h1 {
    font-size: 25px; 
  }

  .text-box p {
    font-size: 18px;
  }
}

@media (min-width: 1024px) {
  .text-box h1 {
    font-size: 40px; 
  }

  .text-box p {
    font-size: 22px; 
  }
}

@media (min-width: 1440px) {
  .text-box h1 {
    font-size: 51px;
  }

  .text-box p {
    font-size: 30px; 
  }
}
